
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

GENERAL RULES
GENERAL RULES

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */ 

body {
  background: #160020;
  color: #e8ffff;
  font-family: 'Josefin Slab', serif;
}

p {
  margin-bottom: 20px;
  padding-right: 10px;
}

a {
  color: #998128;
  font-weight: normal;
}

a:hover {
  color: #fff;
}

em,
strong {
  color: #bff;
}





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

HEADER
HEADER

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */ 

header {
  margin-top: 1.25em;
  margin-bottom: 2em;
}

#heading-text {
  background: #36303f;
  border-radius: 8px;
  color: #d0eeee;
  font-family: 'Carrois Gothic SC', sans-serif;
  margin-bottom: 20px;
  max-width: 100%;
  padding: 10px;
  text-align: center;
  width: 100%;
}

#heading-text h1 {
  font-size: 4.75em;
  font-weight: bold;
  line-height: .9em;
  margin-top: 5px;
}

#first-name {
  font-size: 1.1em;
}

#heading-text h2 {
  color: #799;
  font-size: 1.75em;
  font-weight: 100;
}

#me-main {
  border: 3px solid #7f6b28;
  margin: 10px auto;
  max-width: 300px;
  width: 63%;
}

#contact-methods {
  margin: 0 auto;
  max-width: 425px;
  text-align: center;
  width: 85%;
}

#contact-methods li {
  border-radius: 3px;
}

#contact-methods li:focus,
#contact-methods li:hover {
  background: #b25;
}

#contact-methods li:active {
  background: #d0eeee;
}

#contact-methods img {
  margin: 11px 0px;
  max-width: 60%;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

HEADER--animations

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#contact-methods:target {
  -webkit-animation: social-media-bg .8s;
  animation: social-media-bg .8s;
}

@-webkit-keyframes social-media-bg
{
  20% {background: #b25;}
  40% {background: #b25;}
}
@keyframes social-media-bg
{
  20% {background: #b25;}
  40% {background: #b25;}
}

#contact-methods:target a li {
  -webkit-animation: social-media-top .8s;
  animation: social-media-top .8s;
}

@-webkit-keyframes social-media-right
{
  0% {left: 0;}
  20% {left: 50%;}
  40% {left: 50%;}
  100% {left: 0;}
}
@-webkit-keyframes social-media-left
{
  0% {left: 0;}
  20% {left: -50%;}
  40% {left: -50%;}
  100% {left: 0;}
}
@-webkit-keyframes social-media-top
{
  0% {top: 0;}
  20% {top: -250px;}
  40% {top: -250px;}
  100% {top: 0;}
}
@keyframes social-media-left
{
  0% {left: 0;}
  20% {left: 50%;}
  40% {left: 50%;}
  100% {left: 0;}
}
@keyframes social-media-right
{
  0% {left: 0;}
  20% {left: -50%;}
  40% {left: -50%;}
  100% {left: 0;}
}
@keyframes social-media-top
{
  0% {top: 0;}
  20% {top: -250px;}
  40% {top: -250px;}
  100% {top: 0;}
}



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

HEADER--media queries

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (min-width: 768px) {
  #heading-text {
    margin-top: 18px;
    padding-top: 5px; 
    text-align: right;
  }
  
  #heading-text h1 {
    font-size: 4.5em;
    line-height: 1.05em;
  }
  
  #heading-text h2 {
    font-size: 1.4em;
    line-height: .95em;
  }
  
  #contact-methods {
    margin-top: 20px;
    max-width: 768px;
    width: 90%;
  }
    
  /* HEADER--media query >=768px--animations */
  #contact-methods:target a:nth-child(-n+3) li {
    -webkit-animation: social-media-right .8s;
    animation: social-media-right .8s;
  }

  #contact-methods:target a:nth-child(n+4) li {
    -webkit-animation: social-media-left .8s;
    animation: social-media-left .8s;
  }
}

@media (min-width: 992px) {  
  #heading-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 15px;
  }
  
  #heading-text h1 {
    font-size: 4.85em;
    line-height: 1.14em;
  }
  
  #first-name {
    font-size: 1.47em;
  }
  
  #heading-text h2 {
    font-size: 1.45em
  }
  
  #me-main {
    margin-top: -10px;
    margin-left: auto;
    width: 88%;
  }
  
  #contact-methods {
    background: #36303f;
    border-radius: 8px;
    margin-top: 0;
    max-width: 100%;
    padding: 10px;
    width: 100%;
  }
  
  #contact-methods ul {
    padding-left: 5px;
  }
  
  #contact-methods a {
    margin: 4px 0;
  }
  
  #contact-methods img {
    width: 45%;
  }
  
  /* HEADER--media query >=992px--animations */
  #contact-methods:target a:nth-child(2n+1) li {  
    -webkit-animation: social-media-right .8s;
    animation: social-media-right .8s;
  }
  
  #contact-methods:target a:nth-child(2n) li {  
    -webkit-animation: social-media-left .8s;
    animation: social-media-left .8s;
  }  
}

@media (min-width: 1200px) {
  #heading-text {
    padding-right: 7px;
  }
  
  #heading-text h1 {
    font-size: 6.3em;
    line-height: 1em
  }
  
  #first-name {
    font-size: 1.5em;
  }
  
  #heading-text h2 {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.35em;
  }
  
  #contact-methods img {
    max-width: 46%;
  }
}





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

BODY
BODY

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#content {
  font-size: 1.5em;
  margin-top: 45px;
}

#biography {
  border-top: dotted #8c8067 1px;
  border-bottom: dotted #8c8067 1px;
  line-height: 1.75em;
  margin-bottom: 50px;
  padding: 50px 0;
}

#enthusiastic-hello {
  color: #b25;
  float: left;
  font-size: 110px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: -30px;
  padding-top: 6px;
  padding-right: 10px;
}

#biography p:last-child {
  margin-bottom: 0;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

BODY--blog rss feed

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#blog-rss {
  background: #36303f;
  border-radius: 8px;
  font-size: 16px;
  padding: 5px;
}

#blog-rss h2, h3 {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 2.25em;
  text-align: center;
}

#blog-rss h3 {
  font-size: 1.2em;
  margin-top: 10px;
}

#blog-rss p {
  margin-bottom: 10px;
}

#blog-rss li,
#blog-rss h2 {
  background: #46404f;
  border-radius: 3px;
  margin: 8px 5px;
  padding: 5px 10px;
}

#blog-rss h2 {
  margin: 5px;
}

#blog-rss li:last-child {
  margin-bottom: 5px;
}

#blog-rss ul {
  margin-bottom: 0;
}

#blog-rss h2 a {
  color: #b0dddd;
}

#blog-rss h2 + h3 {
  color: #777;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

BODY--footnote (triggers animation)

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#footnote-link-top p {
  border-top: dotted #8c8067 1px;
  color: #608989;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.1em;
  margin-top: 50px;
  padding-top: 15px;
  text-align: center;
}

#footnote-link-top a {
  color: white;
  font-size: 1.15em;
  font-weight: bold;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

BODY--media queries

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (min-width: 992px) {  
  #content {
    font-weight: 100;
  }
  
  #biography {
    margin: 0;
    padding: 50px 0;
  }
  
  #biography p {
    padding: 0 50px;
  }
  
  #footnote-link-top p {
    border: none;
    margin-top: 0;
  }
}





/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

END
END

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */ 
